/.settings
/test.properties
/xplocal.properties
/logsense1.properties
/logsense2.properties
/amukhe1.properties
/jspTest.properties
/logSense3.properties
/ajoshi1.properties
/hadoop.logsense1.properties
/hadoop.logsense2.properties
/rshah.properties
/hadoop.amukhe1.properties
/hadoop.gpatra.properties
/hadoop.ajoshi1.properties
/hadoop.gshankar2.properties
/hadoop.logsense.properties
/phy.hadoop.logsense.properties
/phy.hadoop.logsense2.properties
/phy.hadoop.65.properties
/phy.hadoop.65.tarBuild.properties
/phy.hadoop.66.properties
/hadoop.sdevarajan.properties
